body
  padding-top 81px
  font-size 12px

.container
  padding-bottom 20px


.navbar-header a.navbar-brand
  margin-header -15px
  margin-bottom -30px
  h6
    color #FF0000

footer
  padding-left 15px
  padding-right 15px
  p
    border-top: 1px solid #ff0000

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.selectable:hover
  background-color #faf2cc
  cursor pointer

.selected
  background-color #67b168

.canvasSpec
  background-color #000000
  border 4px inset cornflowerblue
  width 250px
  height 250px

.col
  position relative
  min-height 1px
  min-width 1px
