head
  title Jade Example
  link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css", type="text/css")
  link(rel="stylesheet", href="/vendor/toastr/toastr.css", type="text/css")
  link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.css", type="text/css")
  link(rel="stylesheet", href="/css/site.css", type="text/css")
  link(rel="stylesheet", href="/vendor/ngQuickDate/dist/ng-quick-date.css", type="text/css")
  link(rel="stylesheet", href="/vendor/ngQuickDate/dist/ng-quick-date-default-theme.css", type="text/css")
  link(rel="stylesheet", href="/vendor/ngQuickDate/dist/ng-quick-date-plus-default-theme.css", type="text/css")

