.panel.panel-primary
  .panel-heading.text-center Featured Expanses
  .panel-body
    .row.text-center.bg-info
        strong.col-md-2 Status
        strong.col-md-3 Name
        strong.col-md-2 Starts
        strong.col-md-2 Round(max)
        strong.col-md-3 Width x Height
    .row.selectable.text-center(ng-repeat="expanse in expanses")
        .col-md-2{{expanse.status}}
        .col-md-3{{expanse.name}}
        .col-md-2{{expanse.beginDate}}
        .col-md-2{{expanse.currentRound}}({{expanse.maxRounds}})
        .col-md-3{{expanse.width}}x{{expanse.height}}

