.container
    .well.well-lg
        h1 Blue Stem Empires
    .row
      .col-md-6
          div(ng-include="'/partials/main/expanses'")
      .col-md-6
        div(ng-include="'/partials/main/expanse-detail'")
